.container {
  display: flex;
  justify-content: center;
  background-color: #D1E8E4;
 
}

.place {
  margin: 10px;
}

p {
  width: 800px;
}

.show {
  background-color: none;
  border: none;
  color: blue;
  font-size: 16px;
}

.remov {
  background-color: red;
  border: none;
  color: white;
  font-size: 16px;
  padding: 5px;
  margin: 10px;
}

.removall {
  background-color: red;
  border: none;
  color: white;
  font-size: 16px;
  padding: 5px;
  margin: 10px;
}

.btn {

  background-color: #C37B89;
  color: black;
  padding: 10px;
  margin: 10px;
  border: none;
  text-transform: uppercase;
}
@media all and (max-width:800px){
  p {
    width: 750px;
  } 
  img {
    width: 750px;
  }
}
@media all and (max-width:500px){
  p {
    width: 350px;
  } 
  h1 {
    font-size: 25px;
  }
  img {
    width: 350px;
  }
}